<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-back-button style="color: white;" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title style="color: white; text-align: center; padding-left: 40px;">
      Detalles </ion-title>
    <ion-buttons slot="end" style="color: white;">
      <ion-menu-button> </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content justify-content-center align-items-center
  style="--background:var(--ion-color-light)" *ngIf="inmuebleAmostrar">

  <!-- <ion-card>
    <ion-img src="{{ this.urlimage + this.inmueble.pics[0] }}" class="complemento-imagen"></ion-img>
  </ion-card> -->
  <ion-card>
    <ion-slides pager="ios" [options]="options2d" class="complemento-imagen">
      <ion-slide *ngFor="let item of inmuebleAmostrar['images']" style="width:
        100%; height: 100%;">
        <img src="{{ urlBaseImagenes2d + item }}">
      </ion-slide>
    </ion-slides>
  </ion-card>

  <ion-grid fixed style="margin-top: -15px">
    <ion-row justify-content-center align-items-center>
      <ion-text color="secondary">
        <!-- <h1><strong>{{ inmueble.name }}</strong></h1> -->
        <!-- <h1><strong>{{ inmuebleAmostrar['titulo'] }}</strong></h1> -->
      </ion-text>
    </ion-row>
  </ion-grid>

  <div
    style="height: 50px;background-color: rgb(238, 238, 238);border-radius:
    20px; margin-left: 10%; margin-right: 10% ;margin-top: 5px">
    <div style="width: 50%; height: 100%; text-align: center;float:left;">
      <ion-text color="secondary">
        <h4 style="line-height: 15px">
          <strong>Precio</strong>
        </h4>
      </ion-text>
    </div>
    <div
      style="width: 50%; height: 100%; background-color: rgb(191,147,84) ;
      float:right; border-radius: 20px;; text-align: center; margin-top: 0px">
      <ion-text color="light">
        <h2 style="line-height: 8px">
          <strong>{{ inmuebleAmostrar['precio_venta'] ||
            inmuebleAmostrar['precio_arrendamiento']
            ||inmuebleAmostrar['precio_condominio'] }} $</strong>
        </h2>
      </ion-text>
    </div>
  </div>


  <!-- Ubicacion -->
  <ion-grid fixed style="margin-top: 20px;">
    <ion-row>
      <ion-text color="secondary">
        {{ inmuebleAmostrar['direccion'] }}
      </ion-text>
    </ion-row>
  </ion-grid>

  <!-- Descripcion -->
  <ion-grid fixed style="margin-top: 10px ; margin-bottom: 10px">
    <ion-row>
      <ion-text color="secondary">
        {{ inmuebleAmostrar['inf'] }}
      </ion-text>
    </ion-row>
  </ion-grid>

  <!-- Slider 360 -->
  <div style="padding-top: 15px; padding-bottom: 15px; position: relative;"
    *ngIf="array360url.length>0">

    <div style="position: absolute;z-index: 2; left: 50%; margin-left: -50px;
      bottom: 86px;">
      <img src='../../../assets/myimages/icon360.jpg' style="height:
        50px;text-align: center;">
    </div>

    <ion-card style="background-color: rgb(238, 238, 238);text-align: center;">
      <ion-slides [options]="options360" class="complemento-imagen-360">
        <ion-slide *ngFor="let item of array360url; let i= index"
          class="slide360" (click)="view360url(item)">
          <div class="divBtn">
            {{i+1}}
          </div>
        </ion-slide>
      </ion-slides>
    </ion-card>

  </div>




  <!-- tablas -->
  <ion-item-group>

    <!-- con valores -->
    <!-- <div style="height: fit-content; background-color: rgb(238, 238,238);padding-bottom: 30px;">
      <ion-grid fixed>
        <ion-row justify-content-center align-items-center>

          <ion-col size="12" size-lg="4" size-md="6" size-sm="6" size-xs="12" class="ion-padding-start">
            <ion-item>
              <ion-label style="color: #72726e">Área construida</ion-label>
              <ion-note slot="end" color="secondary">{{this.inmueble.areac}}</ion-note>
            </ion-item>
          </ion-col>

        </ion-row>
      </ion-grid>
    </div> -->   
 
 
    <!-- ------------------------------------Sin valor------------------------------------ -->
    <!-- amenidades -->
    <!-- <ion-grid fixed *ngIf="inmuebleAmostrar['amenidades']">
      <ion-row justify-content-center align-items-center>
        <ion-col *ngFor="let item of inmuebleAmostrar['amenidades']"
          size="12" size-lg="4" size-md="6" size-sm="6" size-xs="12"
          class="ion-padding-start">
          <ion-item>
            <ion-label style="color: #72726e">{{item}}</ion-label>
            <ion-icon slot="end" name="checkmark-circle-outline"
              color="tertiary"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>   --> 

    <!-- amenidades -->
    <!-- <ion-grid fixed *ngIf="inmuebleAmostrar['amenidades'] &&
      inmuebleAmostrar['amenidades'].lenght>0 &&
      inmuebleAmostrar['amenidades'][0] !=''">
      <ion-row justify-content-center align-items-center>
        <ion-col *ngFor="let item of inmuebleAmostrar['amenidades']"
          size="12" size-lg="4" size-md="6" size-sm="6" size-xs="12"
          class="ion-padding-start">
          <ion-item>
            <ion-label style="color: #72726e">{{item}}</ion-label>
            <ion-icon slot="end" name="checkmark-circle-outline"
              color="tertiary"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid> -->







  </ion-item-group>













</ion-content>

<ion-footer style="text-align: center;">
  <ion-toolbar color="primary">

    <!-- <a href="whatsapp://send?phone=584242332373?text=Me%20gustaría%20saber%20el%20precio%20del%20coche">Link WhatsApp</a> -->
    <ion-button style="text-align: center; margin-left: 5%;" slot="start"
      color="secondary" (click)="whatsapp()">
      <ion-icon slot="icon-only" slot="start" name="logo-whatsapp"
        style="color: burlywood ;padding-left: 0px; padding-right: 0px;
        margin-left: 0px; margin-right: 0px;">
      </ion-icon>
    </ion-button>

    <ion-button style="text-align: center; width: -webkit-fill-available;"
      color="secondary"
      routerLink="/create-visit">
      <ion-title
        style="color: white;padding-left: 0px; padding-right: 0px; margin-left:
        0px; margin-right: 0px; text-transform: none; font-size: 10;">
        Agendar Visita</ion-title>
    </ion-button>

    <ion-button style="text-align: center; margin-right: 5%;" slot="end"
      color="secondary" (click)="tourVirtual()">
      <ion-icon slot="icon-only" slot="end" name="md-easel"
        style="color: burlywood;padding-left: 0px; padding-right: 0px;
        margin-left: 0px; margin-right: 0px;"></ion-icon>
    </ion-button>


  </ion-toolbar>
</ion-footer>