// ion-item {
// --border-color: "dorado";
// --padding-bottom: 0px;
// --padding-end: 0px;
// --padding-start: 0px;
// --padding-end: 0px;
// }

// .label{
//   color: #72726e"
// }
ion-item {
  // --ion-background-color: lightgrey;
  --ion-background-color: transparent !important;
}

.complemento-imagen {
  // -webkit-box-sizing: content-box;
  // -moz-box-sizing: content-box;
  // box-sizing: content-box;
  // opacity: 0.95;
  // // padding: 280px;
  // border: none;
  // // font: normal 16px/1 "Times New Roman", Times, serif;
  // color: black;
  // -o-text-overflow: ellipsis;
  // text-overflow: ellipsis;
  // background: -webkit-linear-gradient(
  //   79.68353231568935deg,
  //   rgba(15, 26, 35, 1) 0,
  //   rgba(115, 177, 231, 0.5) 24%,
  //   rgba(10, 119, 213, 0.2) 50%,
  //   rgba(83, 217, 224, 0.5) 80%,
  //   rgba(135, 188, 234, 1) 100%
  // );
  // background: -moz-linear-gradient(
  //   10.316467684310652deg,
  //   rgba(15, 26, 35, 1) 0,
  //   rgba(115, 177, 231, 0.5) 24%,
  //   rgba(10, 119, 213, 0.2) 50%,
  //   rgba(83, 217, 224, 0.5) 80%,
  //   rgba(135, 188, 234, 1) 100%
  // );
  // background: linear-gradient(
  //   10.316467684310652deg,
  //   rgba(15, 26, 35, 1) 0,
  //   rgba(115, 177, 231, 0.5) 24%,
  //   rgba(10, 119, 213, 0.2) 50%,
  //   rgba(83, 217, 224, 0.5) 80%,
  //   rgba(135, 188, 234, 1) 100%
  // );
  // background-position: 50% 50%;
  // -webkit-background-origin: padding-box;
  // background-origin: padding-box;
  // -webkit-background-clip: border-box;
  // background-clip: border-box;
  // -webkit-background-size: auto auto;
  // background-size: auto auto;

  height: 50vh;
  width: 100%;
  // object-fit: cover;
  object-fit: scale-down;
}

.complemento-imagen-360 {
  // -webkit-box-sizing: content-box;
  // -moz-box-sizing: content-box;
  // box-sizing: content-box;
  // opacity: 0.95;
  // // padding: 280px;
  // border: none;
  // // font: normal 16px/1 "Times New Roman", Times, serif;
  // color: black;
  // -o-text-overflow: ellipsis;
  // text-overflow: ellipsis;
  // background: -webkit-linear-gradient(
  //   79.68353231568935deg,
  //   rgba(15, 26, 35, 1) 0,
  //   rgba(115, 177, 231, 0.5) 24%,
  //   rgba(10, 119, 213, 0.2) 50%,
  //   rgba(83, 217, 224, 0.5) 80%,
  //   rgba(135, 188, 234, 1) 100%
  // );
  // background: -moz-linear-gradient(
  //   10.316467684310652deg,
  //   rgba(15, 26, 35, 1) 0,
  //   rgba(115, 177, 231, 0.5) 24%,
  //   rgba(10, 119, 213, 0.2) 50%,
  //   rgba(83, 217, 224, 0.5) 80%,
  //   rgba(135, 188, 234, 1) 100%
  // );
  // background: linear-gradient(
  //   10.316467684310652deg,
  //   rgba(15, 26, 35, 1) 0,
  //   rgba(115, 177, 231, 0.5) 24%,
  //   rgba(10, 119, 213, 0.2) 50%,
  //   rgba(83, 217, 224, 0.5) 80%,
  //   rgba(135, 188, 234, 1) 100%
  // );
  // background-position: 50% 50%;
  // -webkit-background-origin: padding-box;
  // background-origin: padding-box;
  // -webkit-background-clip: border-box;
  // background-clip: border-box;
  // -webkit-background-size: auto auto;
  // background-size: auto auto;

  height: 50px;
  width: 100%;
  // object-fit: cover;
  object-fit: scale-down;
  margin-top: 49px;
  margin-bottom: 5px;
}

.divBtn{
  justify-content: center; align-items: center; color: white; font-size: 30px;
}


.slide360{
  background-color: gray;border-radius: 50px;margin-top: 0px;margin-bottom: 0px;
}

.slide360:active {
  // background-color: black;
  opacity: 0.5;
  }