<a-scene >
    <a-entity touch-controls ></a-entity>
    <a-assets>
        <img id="panorama" [src]="view360url" crossorigin />
    </a-assets>
    <a-sky src="#panorama" rotation="0 -90 0"></a-sky>
</a-scene>