
// --ion-font-family: 'Open Sans';         ////////////////////////  

/** Ionic CSS Variables **/
:root {
  
  --ion-font-family: 'Open Sans';         ////////////////////////  

  --ion-color-primary: #82827D;
  --ion-color-primary-rgb: 130,130,125;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #72726e;
  --ion-color-primary-tint: #8f8f8a;

  --ion-color-secondary: #8F8F8C;
  --ion-color-secondary-rgb: 143,143,140;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #7e7e7b;
  --ion-color-secondary-tint: #9a9a98;

  --ion-color-tertiary: #C79855;
  --ion-color-tertiary-rgb: 199,152,85;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #af864b;
  --ion-color-tertiary-tint: #cda266;

  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16,220,96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255,206,0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245,61,61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;






  // Colores Nuevos dentro de ROOT
  --ion-color-dorado: #C79855;
  --ion-color-dorado-rgb: 199,152,85;
  --ion-color-dorado-contrast: #000000;
  --ion-color-dorado-contrast-rgb: 0,0,0;
  --ion-color-dorado-shade: #af864b;
  --ion-color-dorado-tint: #cda266;

}



// Colores Nuevos fuera de ROOT
.ion-color-dorado {
  --ion-color-base: var(--ion-color-dorado) !important;
  --ion-color-base-rgb: var(--ion-color-dorado-rgb) !important;
  --ion-color-contrast: var(--ion-color-dorado-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-dorado-gold-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-dorado-shade) !important;
  --ion-color-tint: var(--ion-color-dorado-tint) !important;
}




// para usar

// h4 { color: var(--ion-color-green, #008D80); }
// <h4 color="green">Green Text</h4>


// :root {  --bg-color: red;  }
// div { background-color: var(--bg-color);}


// ion-alert
// {
//     --background        : #2c3e50 !important;
//     --ion-text-color    : white !important;
//     --ion-color-step-550: white !important;
// }