<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" style="color: white;">
      <!-- <ion-menu-button> </ion-menu-button> -->
      <ion-icon
        slot="icon-only"
        name="arrow-back"
        *ngIf="nfiltro> 0"
        (click)="regresarFiltro()"
        ></ion-icon>
    </ion-buttons>
    <ion-title
      style="color: white; text-align: center; padding-left: 60px;"
      *ngIf="nfiltro == 0">!Bienvenidos!
    </ion-title>
    <ion-title
      style="color: white; text-align: center; padding-left: 40px;"
      *ngIf="nfiltro == 1">Estado</ion-title>
    <ion-title
      style="color: white; text-align: center; padding-left: 40px;"
      *ngIf="nfiltro == 2">Municipio</ion-title>
    <ion-title
      style="color: white; text-align: center; padding-left: 40px;"
      *ngIf="nfiltro == 3">Uso</ion-title>
    <ion-title
      style="color: white; text-align: center; padding-left: 40px;"
      *ngIf="nfiltro == 4">{{ this.filtros.f4 }}
    </ion-title>
    <ion-title
      style="color: white; text-align: center; padding-left: 40px;"
      *ngIf="nfiltro == 5">Resultados
    </ion-title>
    <ion-title>
      <!-- <ion-img src="../../assets/myimages/header.jpg" style="height: 25px;"></ion-img> -->
    </ion-title>
    <ion-buttons slot="end" style="color: white;">
      <ion-menu-button> </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="--background:var(--ion-color-light)">
  <img
    src="../../assets/myimages/inicial.jpg"
    style="width: 100%; height: 30%;
    object-fit: cover;"
    *ngIf="nfiltro !== 5"
    />

  <!-- input busqueda -->
  <ion-grid fixed style="width: 100%; margin-top: 1%;">
    <ion-row style="width: 100%;">
      <ion-col size="12" style="width: 100%;" class="ion-no-padding">
        <div style="text-align: center; width: 100%;">
          <div>
            <div style="display: inline-block; width: 10%;"></div>

            <div
              style="display: inline-block; width: 10%; font-size: 200%;
              vertical-align: middle;">
              <ion-icon
                name="md-search"
                style="color: grey; margin-top: 4px;"></ion-icon>
            </div>

            <div style="display: inline-block; width: 70%;">
              <ion-input class="inputBuscador" placeholder=""></ion-input>
            </div>

            <div style="display: inline-block; width: 10%;"></div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- FILTRO 1 -->
  <div
    *ngIf="!filtros.f1 && !filtros.f2 && !filtros.f3 && !filtros.f4 &&
    !filtros.f5">
    <div style="text-align: center; width: 100%; margin-top: 1%;">
      <ion-text color="primary">Quieres buscar algo?</ion-text>
    </div>

    <ion-grid fixed>
      <ion-row>
        <ion-col size="6" style="text-align: center;">
          <ion-img
            src="../../assets/myimages/btnVenta.png"
            style="height:
            80px;"
            (click)="setFiltro1('venta')"></ion-img>
          <ion-text color="tertiary">Venta</ion-text>
        </ion-col>
        <ion-col
          size="6"
          style="text-align: center;border-left:2px solid;
          color: var(--ion-color-tertiary);">
          <ion-img
            src="../../assets/myimages/btnAlquiler.png"
            style="height:
            80px;"
            (click)="setFiltro1('alquiler')"></ion-img>
          <ion-text color="tertiary">Alquiler</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- FILTRO 2 -->
  <div
    *ngIf="!filtros.f2 && !filtros.f3 && !filtros.f4 && !filtros.f5 &&
    filtros.f1">
    <div style="text-align: center; width: 100%; margin-top: 1%;">
      <ion-text color="primary">Elija el Estado de su preferencia</ion-text>
    </div>

    <ion-grid fixed>
      <ion-row justify-content-center align-items-center>
        <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
          <ion-item (click)="setFiltro2('estado')">
            <ion-label>Miranda</ion-label>
            <ion-checkbox slot="start" hidden></ion-checkbox>
            <ion-badge
              style="color:var(--ion-color-tertiary); background-color:linen;"
              slot="end">5</ion-badge>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
          <ion-item (click)="setFiltro2('estado')">
            <ion-label>Falcón</ion-label>
            <ion-checkbox slot="start" hidden></ion-checkbox>
            <ion-badge
              style="color:var(--ion-color-tertiary); background-color:linen;"
              slot="end">11</ion-badge>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
          <ion-item (click)="setFiltro2('estado')">
            <ion-label>Lara</ion-label>
            <ion-checkbox slot="start" hidden></ion-checkbox>
            <ion-badge
              style="color:var(--ion-color-tertiary); background-color:linen;"
              slot="end">8</ion-badge>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
          <ion-item (click)="setFiltro2('estado')">
            <ion-label>Zulia</ion-label>
            <ion-checkbox slot="start" hidden></ion-checkbox>
            <ion-badge
              style="color:var(--ion-color-tertiary); background-color:linen;"
              slot="end">6</ion-badge>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
          <ion-item (click)="setFiltro2('estado')">
            <ion-label>Bolívar</ion-label>
            <ion-checkbox slot="start" hidden></ion-checkbox>
            <ion-badge
              style="color:var(--ion-color-tertiary); background-color:linen;"
              slot="end">10</ion-badge>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
          <ion-item (click)="setFiltro2('estado')">
            <ion-label>Anzoategui</ion-label>
            <ion-checkbox slot="start" hidden></ion-checkbox>
            <ion-badge
              style="color:var(--ion-color-tertiary); background-color:linen;"
              slot="end">1</ion-badge>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
          <ion-item (click)="setFiltro2('estado')">
            <ion-label>Barinas</ion-label>
            <ion-checkbox slot="start" hidden></ion-checkbox>
            <ion-badge
              style="color:var(--ion-color-tertiary); background-color:linen;"
              slot="end">5</ion-badge>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
          <ion-item (click)="setFiltro2('estado')">
            <ion-label>Táchira</ion-label>
            <ion-checkbox slot="start" hidden></ion-checkbox>
            <ion-badge
              style="color:var(--ion-color-tertiary); background-color:linen;"
              slot="end">13</ion-badge>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
          <ion-item (click)="setFiltro2('estado')">
            <ion-label>Guarico</ion-label>
            <ion-checkbox slot="start" hidden></ion-checkbox>
            <ion-badge
              style="color:var(--ion-color-tertiary); background-color:linen;"
              slot="end">8</ion-badge>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- FILTRO 3 -->
  <div
    *ngIf="!filtros.f3 && !filtros.f4 && !filtros.f5 && filtros.f1 &&
    filtros.f2">
    <div style="text-align: center; width: 100%; margin-top: 1%;">
      <ion-text color="primary">Elija el Municipio de su preferencia</ion-text>
    </div>

    <!-- <ion-list> -->
    <ion-grid fixed>
      <ion-row justify-content-center align-items-center>
        <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
          <ion-item (click)="setFiltro3('municipio')">
            <ion-label>Baruta</ion-label>
            <ion-checkbox slot="start" hidden></ion-checkbox>
            <ion-badge
              style="color:var(--ion-color-tertiary); background-color:linen;"
              slot="end">7</ion-badge>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
          <ion-item (click)="setFiltro3('municipio')">
            <ion-label>Chacao</ion-label>
            <ion-checkbox slot="start" hidden></ion-checkbox>
            <ion-badge
              style="color:var(--ion-color-tertiary); background-color:linen;"
              slot="end">10</ion-badge>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
          <ion-item (click)="setFiltro3('municipio')">
            <ion-label>Hatillo</ion-label>
            <ion-checkbox slot="start" hidden></ion-checkbox>
            <ion-badge
              style="color:var(--ion-color-tertiary); background-color:linen;"
              slot="end">1</ion-badge>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
          <ion-item (click)="setFiltro3('municipio')">
            <ion-label>Libertador</ion-label>
            <ion-checkbox slot="start" hidden></ion-checkbox>
            <ion-badge
              style="color:var(--ion-color-tertiary); background-color:linen;"
              slot="end">5</ion-badge>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
          <ion-item (click)="setFiltro3('municipio')">
            <ion-label>Sucre</ion-label>
            <ion-checkbox slot="start" hidden></ion-checkbox>
            <ion-badge
              style="color:var(--ion-color-tertiary); background-color:linen;"
              slot="end">13</ion-badge>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
          <ion-item (click)="setFiltro3('municipio')">
            <ion-label>Tomas Lander</ion-label>
            <ion-checkbox slot="start" hidden></ion-checkbox>
            <ion-badge
              style="color:var(--ion-color-tertiary); background-color:linen;"
              slot="end">8</ion-badge>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- FILTRO 4 -->
  <div
    *ngIf="!filtros.f4 && !filtros.f5 && filtros.f1 && filtros.f2 &&
    filtros.f3">
    <div style="text-align: center; width: 100%; margin-top: 1%;">
      <ion-text color="primary">Elija el Uso para inmueble</ion-text>
    </div>

    <ion-grid fixed>
      <ion-row justify-content-center align-items-center>
        <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
          <ion-item (click)="setFiltro4('Residencial')">
            <ion-label>Residencial</ion-label>
            <ion-checkbox slot="start" hidden></ion-checkbox>
            <ion-badge
              style="color:var(--ion-color-tertiary); background-color:linen;"
              slot="end">15</ion-badge>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
          <ion-item (click)="setFiltro4('Comercial')">
            <ion-label>Comercial</ion-label>
            <ion-checkbox slot="start" hidden></ion-checkbox>
            <ion-badge
              style="color:var(--ion-color-tertiary); background-color:linen;"
              slot="end">3</ion-badge>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
          <ion-item (click)="setFiltro4('Industrial')">
            <ion-label>Industrial</ion-label>
            <ion-checkbox slot="start" hidden></ion-checkbox>
            <ion-badge
              style="color:var(--ion-color-tertiary); background-color:linen;"
              slot="end">8</ion-badge>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- FILTRO 5 -->
  <div
    *ngIf="!filtros.f5 && filtros.f1 && filtros.f2 && filtros.f3 && filtros.f4">
    <div style="text-align: center; width: 100%; margin-top: 1%;">
      <ion-text color="primary">Elija el Tipo de inmueble</ion-text>
    </div>

    <ion-grid fixed *ngIf="filtros.f4 == 'Comercial'">
      <ion-row justify-content-center align-items-center>
        <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
          <ion-item (click)="setFiltro5('local')">
            <ion-label>Local</ion-label>
            <ion-checkbox slot="start" hidden></ion-checkbox>
            <ion-badge
              style="color:var(--ion-color-tertiary); background-color:linen;"
              slot="end">15</ion-badge>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
          <ion-item (click)="setFiltro5('oficina')">
            <ion-label>Oficina</ion-label>
            <ion-checkbox slot="start" hidden></ion-checkbox>
            <ion-badge
              style="color:var(--ion-color-tertiary); background-color:linen;"
              slot="end">3</ion-badge>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
          <ion-item (click)="setFiltro5('edificio')">
            <ion-label>Edificio</ion-label>
            <ion-checkbox slot="start" hidden></ion-checkbox>
            <ion-badge
              style="color:var(--ion-color-tertiary); background-color:linen;"
              slot="end">8</ion-badge>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
          <ion-item (click)="setFiltro5('casa')">
            <ion-label>Casa</ion-label>
            <ion-checkbox slot="start" hidden></ion-checkbox>
            <ion-badge
              style="color:var(--ion-color-tertiary); background-color:linen;"
              slot="end">8</ion-badge>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
          <ion-item (click)="setFiltro5('terreno')">
            <ion-label>Terreno</ion-label>
            <ion-checkbox slot="start" hidden></ion-checkbox>
            <ion-badge
              style="color:var(--ion-color-tertiary); background-color:linen;"
              slot="end">8</ion-badge>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Caso Industrial -->
    <ion-grid fixed *ngIf="filtros.f4 == 'Industrial'">
      <ion-row justify-content-center align-items-center>
        <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
          <ion-item (click)="setFiltro5('galpon')">
            <ion-label>Galpon</ion-label>
            <ion-checkbox slot="start" hidden></ion-checkbox>
            <ion-badge
              style="color:var(--ion-color-tertiary); background-color:linen;"
              slot="end">15</ion-badge>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
          <ion-item (click)="setFiltro5('planta')">
            <ion-label>Planta</ion-label>
            <ion-checkbox slot="start" hidden></ion-checkbox>
            <ion-badge
              style="color:var(--ion-color-tertiary); background-color:linen;"
              slot="end">3</ion-badge>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
          <ion-item (click)="setFiltro5('edificio')">
            <ion-label>Edificio</ion-label>
            <ion-checkbox slot="start" hidden></ion-checkbox>
            <ion-badge
              style="color:var(--ion-color-tertiary); background-color:linen;"
              slot="end">8</ion-badge>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
          <ion-item (click)="setFiltro5('terreno')">
            <ion-label>Terreno</ion-label>
            <ion-checkbox slot="start" hidden></ion-checkbox>
            <ion-badge
              style="color:var(--ion-color-tertiary); background-color:linen;"
              slot="end">8</ion-badge>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Caso Residencial -->
    <ion-grid fixed *ngIf="filtros.f4 == 'Residencial'">
      <ion-row justify-content-center align-items-center>
        <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
          <ion-item (click)="setFiltro5('casa')">
            <ion-label>Casa</ion-label>
            <ion-checkbox slot="start" hidden></ion-checkbox>
            <ion-badge
              style="color:var(--ion-color-tertiary); background-color:linen;"
              slot="end">15</ion-badge>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
          <ion-item (click)="setFiltro5('apartamento')">
            <ion-label>Apartamento</ion-label>
            <ion-checkbox slot="start" hidden></ion-checkbox>
            <ion-badge
              style="color:var(--ion-color-tertiary); background-color:linen;"
              slot="end">3</ion-badge>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
          <ion-item (click)="setFiltro5('town house')">
            <ion-label>Town House</ion-label>
            <ion-checkbox slot="start" hidden></ion-checkbox>
            <ion-badge
              style="color:var(--ion-color-tertiary); background-color:linen;"
              slot="end">8</ion-badge>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
          <ion-item (click)="setFiltro5('pent house')">
            <ion-label>Pent House</ion-label>
            <ion-checkbox slot="start" hidden></ion-checkbox>
            <ion-badge
              style="color:var(--ion-color-tertiary); background-color:linen;"
              slot="end">8</ion-badge>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
          <ion-item (click)="setFiltro5('planta baja')">
            <ion-label>Planta Baja</ion-label>
            <ion-checkbox slot="start" hidden></ion-checkbox>
            <ion-badge
              style="color:var(--ion-color-tertiary); background-color:linen;"
              slot="end">8</ion-badge>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- </ion-list> -->
  </div>

  <!-- resultados del filtro f5 -->
  <div *ngIf="filtros.f5">
    <ion-grid class="ion-no-padding">
      <ion-row justify-content-center align-items-center>
        <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12" *ngFor="let inmueble of inmueblesTodos">
          <ion-card class="welcome-card">
            <img
              src="{{ urlBaseImagenes2d + inmueble.images[0] }}"
              class="complemento-imagen"
              (click)="detalleinmueble(inmueble.id)"
              />
            <ion-grid class="footerDelIionCard">
              <ion-row>
                <ion-col size="10" (click)="detalleinmueble(inmueble.id)">
                <!-- <ion-col size="10" > -->
                  <ion-card-title>
                    <ion-text color="secondary">
                      <strong style="font-size: 12px;">{{inmueble.titulo}}</strong>
                      <!-- <strong>{{ inmueble.name.substring(0,6) }}</strong> -->
                      <!-- <strong>{{ (inmueble.name.length < 20) ? inmueble.name :inmueble.name.substring(0,20)+'...'  }}</strong> -->
                    </ion-text>
                  </ion-card-title>
                </ion-col>
                <ion-col>
                  <div class="inmueble-more">
                    <ion-button
                      fill="clear" (click)="alanzarMenu()" style="height: 100%">
                      <ion-icon slot="icon-only" name="more" color="secondary"></ion-icon>
                    </ion-button>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- ooooooooooooooooooooooooooooooooFIN BUCLEoooooooooooooooooooooooooooooooo -->
  </div>
</ion-content>

<!-- caso no registrado -->
<!-- <ion-button shape="round" size="small" color="tertiary" routerLink="/login" *ngIf="!this.userSigned"
    style="text-transform: none;" routerLink="/login">
    <ion-text color="light">
    Inicio de sesión 
  </ion-text>
</ion-button> -->

<!-- Dando bienvenida -->
<!-- <ion-row class="ion-justify-content-center">
    <ion-label *ngIf="this.userSigned">Bienvenido {{ this.user.email }}</ion-label>
    <ion-button expand="full" *ngIf="this.userSigned" (click)="cerrarsesion()">Cierra
      sesión</ion-button>
  </ion-row> -->
<!-- <a href="#" class="myButton">Entrar</a> -->

<!-- <ion-img src="../../assets/myimages/inicial.jpg" ></ion-img> -->

<!-- <div style="text-align: center; width: 100%; margin-top: 30px;">
    <ion-grid fixed style="margin-top: 20px;">
      <ion-row justify-content-center align-items-center style='height: 100%'>

        <ion-col size="1"></ion-col>
        <ion-col size="1" style="font-size: 200%; line-height: 20px; color: gray;">
          <ion-icon name="md-search"></ion-icon>
        </ion-col>
        <ion-col size="9" class="ion-text-left"> <input class="inputBuscador" placeholder="" /></ion-col>
        <ion-col size="1"></ion-col>

      </ion-row>
    </ion-grid>
  </div> -->
<!-- <div style="text-align: center; width: 100%; margin-top: 30px;">
    <input class="inputBuscador" placeholder="" />
  </div> -->
<!-- ooooooooooooooooooooooooooooooooBUCLEoooooooooooooooooooooooooooooooo -->
<!-- <ion-footer>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="finger-print"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Footer</ion-title>

    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer> -->

<!-- <ion-button shape="round" color="success" style="text-transform: none;" (click)="pruebax()">
  <ion-text color="light">
    Prueba
  </ion-text>
</ion-button> -->

<!-- <div >
  <div style="width:18%; display:inline-table">Precio</div>
  <div style="width:50%; display:inline-table">Valor</div>
</div> -->

<!-- <ion-img src="../../assets/myimages/gif.gif" ></ion-img> -->

<!-- <ion-button expand="full" routerLink="/login" *ngIf="!this.userSigned">
  Bienvenido... Inicia Sesión..</ion-button
> -->
<!-- <a href="whatsapp://send?phone=584242332373?text=Me%20gustaría%20saber%20el%20precio%20del%20coche">Link WhatsApp</a> -->
<!-- 
  <ion-img class="animated infinite bounce delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite flash delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite pulse delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite rubberBand delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite shake delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite headShake delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite swing delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite tada delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite wobble delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite jello delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite bounceIn delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite bounceInDown delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite bounceInLeft delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite bounceInRight delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite bounceInUp delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite bounceOut delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite bounceOutDown delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite bounceOutLeft delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite bounceOutRight delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite bounceOutUp delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite fadeIn delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite fadeInDown delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite fadeInDownBig delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite fadeInLeft delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite fadeInLeftBig delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite fadeInRight delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite fadeInRightBig delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite fadeInUp delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite fadeInUpBig delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite fadeOut delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite fadeOutDown delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite fadeOutDownBig delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite fadeOutLeft delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite fadeOutLeftBig delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite fadeOutRight delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite fadeOutRightBig delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite fadeOutUp delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite fadeOutUpBig delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite flipInX delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite flipInY delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite flipOutX delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite flipOutY delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite lightSpeedIn delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite lightSpeedOut delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite rotateIn delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite rotateInDownLeft delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite rotateInDownRight delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite rotateInUpLeft delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite rotateInUpRight delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite rotateOut delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite rotateOutDownLeft delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite rotateOutDownRight delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite rotateOutUpLeft delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite rotateOutUpRight delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite hinge delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite jackInTheBox delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite rollIn delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite rollOut delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite zoomIn delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite zoomInDown delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite zoomInLeft delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite zoomInRight delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite zoomInUp delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite zoomOut delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite zoomOutDown delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite zoomOutLeft delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite zoomOutRight delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite zoomOutUp delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite slideInDown delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite slideInLeft delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite slideInRight delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite slideInUp delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite slideOutDown delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite slideOutLeft delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite slideOutRight delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite slideOutUp delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img>
  <ion-img class="animated infinite heartBeat delay-5s" src="../../assets/myimages/header.jpg" style="height: 25px;" ></ion-img> -->
<!-- https://techart.pw/__cpi.php?s=UkQ2YXlSaWJuc3ZoeGR2dG04WW9Ldkt5c0JwSnpnRWFTYjBHZGdPdXZ5K1BZK0RwajhxNGs3eG1LeHQ2dEZPNVpYYXlEeWtLWUFDVlp1M2t4ZXNlRG5SVHJjNGgwYytvOVVaVVZwQ2dBMzA9&r=aHR0cHM6Ly90ZWNoYXJ0LnB3L3Nob3cvP209NXBXQ2pxZGlKZW0mX19jcG89YUhSMGNITTZMeTl0ZVM1dFlYUjBaWEp3YjNKMExtTnZiUQ==&__cpo=1 -->
