.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.inmueble-more {
  font-size: 25px !important;
  position: absolute;
  // position: relative;
  right: -10px;
  top: -10px;
  height: 100%;

  // bottom: -5px;
}

.myButton {
	background:linear-gradient(to bottom, #ffffff 5%, #fcfcfc 100%);
	background-color:#ffffff;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#3fab4f;
	font-family:Arial;
	font-size:17px;
	padding:13px 76px;
	text-decoration:none;
}
// .myButton:hover {
// 	background:linear-gradient(to bottom, #fcfcfc 5%, #ffffff 100%);
// 	background-color:#fcfcfc;
// }
// .myButton:active {
// 	position:relative;
// 	top:1px;
// }

.inputBuscador {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 20px;
  border: none;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  // font: normal 16px/normal "Times New Roman", Times, serif;
  // color: rgba(0,142,198,1);
  color: grey;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(232,232,232,1);
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  // width: 70%;
  width: -webkit-fill-available;
  
  height: 30px;
  --padding-start: 0px !important;
}


ion-img:active {
// background-color: black;
opacity: 0.5;
}

.complemento-imagen {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  opacity: 0.95;
  // padding: 280px;
  border: none;
  // font: normal 16px/1 "Times New Roman", Times, serif;
  color: black;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: -webkit-linear-gradient(79.68353231568935deg, rgba(15,26,35,1) 0, rgba(115,177,231,0.5) 24%, rgba(10,119,213,0.2) 50%, rgba(83,217,224,0.5) 80%, rgba(135,188,234,1) 100%);
  background: -moz-linear-gradient(10.316467684310652deg, rgba(15,26,35,1) 0, rgba(115,177,231,0.5) 24%, rgba(10,119,213,0.2) 50%, rgba(83,217,224,0.5) 80%, rgba(135,188,234,1) 100%);
  background: linear-gradient(10.316467684310652deg, rgba(15,26,35,1) 0, rgba(115,177,231,0.5) 24%, rgba(10,119,213,0.2) 50%, rgba(83,217,224,0.5) 80%, rgba(135,188,234,1) 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;

 height: 150px; width: 100%; object-fit: cover;


}

.footerDelIionCard {
  height: 40px; 
} 

ion-item {
  --background:var(--ion-color-light)
}

// .inputBuscador {
//   --border-color: var(--ion-color-danger, #f1453d);
// }